<div class="sidebar">
	<h3>Como Instalar?</h3>

	<p>A Bíblia Falada 2.0 é totalmente gratuita, você pode instalar no seu computador e passar para todos os seus amigos sem pagar nada!</p>

	<a href="https://github.com/abibliafalada/abibliafalada-v2/releases/download/v2.0.1/Instalacao_A_Biblia_Falada_Genesis.exe" class="btn btn-lg btn-success btn-block">Iniciar o download <br> <small>Baixar A Bíblia Falada 2.0 em português</small></a>

	<p><div class="alert alert-warning">Se a instalação estiver demorando muito ou você precisa instalar em um computador sem internet, <a href="http://www.superdownloads.com.br/redir.cfm?softid=27897" target="_blank">clique aqui e instalale o .NET framework 3.5</a> antes da Bíblia Falada.</div></p>

	<h4>Mude para o português</h4>

	<p>Você já consegue usar a bíblia falada, porém, é muito provável que a voz não esteja em português. Para arrumar isso, <a href="https://sourceforge.net/projects/spoken-bible/files/Current/VozPortugues.zip/download" target="_blank">clique aqui e instale a voz em português.</a> Apenas para Windows XP.</p>

	<hr />

	<h5>Hummm...</h5>

	<div class="parceiro">

		<a href="http://www.soubarista.com.br/">
			<img src="{{ site.baseurl }}/assets/img/soubarista.jpg" alt="sou barista">
		</a>

		<p class="parceiro-detalhe">Quer inspirações para extrair o máximo do café? Conheça <a href="http://www.soubarista.com.br/">soubarista.com.br</a></p>

	</div>

</div>
