<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/semantic/css/semantic.min.css">
    </head>
    <body>
        
        <div class="ui inverted menu">
            <div class="item">
                <a href="{{ site.baseurl }}/">{{ site.name }}</a>
            </div>
            <div class="right menu">
              <a class="item">Tudo sobre a Bíblia Falada</a>
            </div>
        </div>
        
        <div class="ui menu">
          <a href="{{ site.baseurl }}/" class="item">Início</a>
          <a href="{{ site.baseurl }}/telas.html" class="item">Telas</a>
          <a href="{{ site.baseurl }}/sobre.html" class="item">Sobre</a>
          <div class="right menu">
            <a href="{{ site.baseurl }}/instalar.html"class="item">Instalar</a>
          </div>
        </div>
        
        <div class="container">
            {{ content }}
        </div>
        
        <div class="ui horizontal icon divider">
          <i class="circular info letter icon"></i>
        </div>
        
        <div class="container">
            <h2 class="ui header">Sobre</h2>
            <p>A Bíblia Falada possui recursos de leitura automática e é 
            totalmente gratuita. Contém todos os textos das Sagradas Escrituras,
            na versão Revista e Atualizada. A Bíblia Falada pode ser usada por
            deficientes visuais ou cegos, uma vez que possui recursos de acessibilidade.
            </p>
        </div>

    </body>
</html>
