<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="about">
              <h2>Sobre</h2>
              <p>
                A Bíblia Falada possui recursos de leitura automática e é 
                totalmente gratuita. Contém todos os textos das Sagradas Escrituras,
                na versão Revista e Atualizada. A Bíblia Falada pode ser usada por
                deficientes visuais ou cegos, uma vez que possui recursos de acessibilidade.
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
