---
layout: default
---

<div id="cover">
  <div class="container">
      <div class="cover-content">
          <span class="fa fa-file-sound-o" id="cover-icon"></span>
          <h1>A Biblia Falada</h1>
          <p class="lead">A Bíblia Falada possui recursos de leitura automática e é totalmente gratuita. Contém todos os textos das Sagradas Escrituras, na versão Revista e Atualizada. A Bíblia Falada pode ser usada por deficientes visuais ou cegos, uma vez que possui recursos de acessibilidade.</p>
          <a href="{{ site.baseurl }}/instalar.html" class="btn btn-warning btn-lg"><span class="fa fa-windows"></span> Instalar no Windows</a>
          <a href="#" id="saiba-mais" class="btn btn-default btn-lg">Saiba mais</a></li>
      </div>
  </div>
</div>
<div class="container">
  <div id="post-list">
    {{ content }}
  </div>
</div>